*{
    margin: 0;
    padding: 0;
}
nav{
    border-bottom: 2px solid rgb(218, 213, 213);
    background-color: #fff;
}
.nav-center{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 30px;
}
h4{
    color: rgb(7, 165, 165);
}

.nav-links{
    display: flex;
    list-style-type: none;
    
}

.nav-links a{
    text-decoration: none;
    margin-right: 30px;
    color: black;
}
main{
    height: 89vh;
   position: relative;
}

.container{
   text-align: center; 
   margin-left: 30%;
   margin-right: 30%;
   padding: 10px;
  position: absolute;
  top: 40%;
   
}
h2{
    border: 1px solid black;
    font-size: 45px;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.color{
    color: #f1f5f8;
}

.btn{
    margin-top: 30px;
    padding: 15px 20px 15px 20px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
    background-color: transparent;
}